@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
img{
    width: 100vw;
}
a{
    padding: 10px;
    display: block;
    text-align: center;
    font-weight: bolder;
    background-color: darkred;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: red;
}




































/*

*{
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        ::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        img{
            width: 100vw;
        }
        a{
            background-color: darkred;
            padding: 20px;
            font-weight: bolder;
            text-align: center;
            display: block;
            color: white;
            text-decoration: none;
        }
        a:hover{
            background-color: red;
        } */