@charset "UTF-8";

/* TELA PAAR TODOS OS DSPOSITIVOS */

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(35 62 255);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 0px rgb(31, 31, 145);
}