












































/*

@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}
img{
    width: 100vw;
}
a{
    background-color: darkorange;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    display: block;
}



*/